li + li {
  margin-top: 10px;
}

a {
  color: #4169E1;
}

.container {
  padding: 20px 40px 20px;
  max-width: 1100px;
  min-width: 446px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.header__name {
  margin-top: 0;
}

.header__right {
  max-width: 200px;
}

.photo {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.photo img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; 
  margin: auto;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 40px;
}

.block + .block {
  margin-top: 50px;
}

.experience + .experience {
  margin-top: 24px;
}

.block_work .experience + .experience {
  margin-top: 40px;
}

.experience__position {
  margin-bottom: 4px;
}

.tags {
  list-style: none;
  padding-left: 0;
}

.tags__item {
  display: inline-block;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10%;
  margin-bottom: 5px;
}

.tags__item  + .tags__item  {
  margin-top: 0;
}

.footer {
  margin: 20px 0; 
}

.download-btn {
  padding: 10px;
  text-decoration: none;
  border: 1px solid #4169E1;
}

.download__icon {
  margin: -2px;
  margin-right: 2px;
}

@media (min-width: 721px) and (max-width: 1080px) {
  .footer {
    margin-top: 0;
  }
}

@media (max-width: 720px) {
  .main {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .footer {
    margin-top: 40px;
  }

  .block + .block {
    margin-top: 30px;
  }
}

@media print {
  @page {
    size: A4;
  }

  html, body {
      width: 210mm;
      height: 297mm;
      font-size: 12px;
      background: #FFF;
      overflow:visible;
  }

  li + li {
    margin-top: 6px;
  }

  .header {
    display: block;
  }

  .header__right {
    display: none;
  }

  .download-btn {
    display: none;
  }

  .experience + .experience {
    margin-top: 16px;
  }

  .block_work .experience + .experience {
    margin-top: 28px;
  }
}
