/* Base */

body {
    min-width: 920px;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

.container-center {
    width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.page-title {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: normal;
}

/* Sections */

.header {
    background-color: #543a67;
}

.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.menu__item {
    position: relative;
    padding: 20px 25px;
    font-size: 21px;
    line-height: 21px;
    text-transform: lowercase;
    color: #ffffff;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #452e56;
}

.menu__item--active:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 5px;
    background-color: #ffffff;
}

.menu__item--active:hover {
    background-color: #543a67;
}

.promo {
    padding: 150px 0;
    background-image: url(../images/promo-bg.jpg);
    background-repeat: no-repeat;
    background-color: #543a67;
    background-size: cover;
}

.promo__text {
    float: left;
    width: 350px;
    margin: 60px 0 0 0;
    padding: 0;
    font-size: 18px;
    color: #ffffff;
}

.promo__text--large {
    display: block;
    margin-bottom: 30px;
    font-size: 21px;
}

.promo__img {
    float: right;
    width: 450px;
    text-align: center;
}

.promo__img img {
    border-radius: 50%;
}
